/* Color Theme Swatches in Hex */
$Poseidon-1-hex: #012030;
$Poseidon-2-hex: #13678A;
$Poseidon-3-hex: #45C4B0;
$Poseidon-4-hex: #9AEBA3;
$Poseidon-5-hex: #DAFDBA;

/* Color Theme Swatches in Hex */
$fun-summer-woman-1-hex: #BF2C47;
$fun-summer-woman-2-hex: #F22E62;
$fun-summer-woman-3-hex: #1B80BF;
$fun-summer-woman-4-hex: #1EA4D9;
$fun-summer-woman-5-hex: #77BDD9;


@import 'abstracts/mixins';
@import 'components/posts';

a {
    color: $Poseidon-2-hex;
    color: $fun-summer-woman-3-hex;
}

h1.tracking-tighter {
    letter-spacing: -.06em;
}

main {
    // background-color: $Poseidon-1-hex;
}

.container {
    padding: 0 0.5rem;

    @include bp('small') {
        padding: 0 1.25rem;
    }

    h1 {
        font-size: 3.25rem;

        @include bp('small') {
            font-size: 6.25rem;
        }
    }

    section {
        // border: 1px solid red;
    }
}
