/* Color Theme Swatches in Hex */
$Poseidon-1-hex: #012030;
$Poseidon-2-hex: #13678A;
$Poseidon-3-hex: #45C4B0;
$Poseidon-4-hex: #9AEBA3;
$Poseidon-5-hex: #DAFDBA;

/* Color Theme Swatches in Hex */
$fun-summer-woman-1-hex: #BF2C47;
$fun-summer-woman-2-hex: #F22E62;
$fun-summer-woman-3-hex: #1B80BF;
$fun-summer-woman-4-hex: #1EA4D9;
$fun-summer-woman-5-hex: #77BDD9;


@import 'abstracts/mixins';
@import 'components/posts';

// Variex OT Light
// font-family: "variex", sans-serif;
// font-weight: 300;
// font-style: normal;

// Variex OT Regular
// font-weight: 400;

// Variex OT Bold
// font-weight: 700;

a {
    color: $Poseidon-2-hex;
    color: $fun-summer-woman-3-hex;
}

h1.tracking-tighter,
h2.md\:tracking-tighter {
    // letter-spacing: -.06em;
}

main {
    // background-color: $Poseidon-1-hex;
}

.container {
    padding: 0 0.5rem;

    @include bp('small') {
        padding: 0 1.25rem;
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp('medium') {
        // align-items: flex-end;
        // margin-bottom: 3rem;
        
    }

    h1 {
        font-family: "variex", sans-serif;
        font-weight: 700;
        font-size: 3.25rem;
        line-height: 3.25rem;

        @include bp('small') {
            margin-left: -9px;
            font-size: 5.85rem;
            line-height: 6.25rem;
        }
    }

    h4 {
        @include bp('medium') {
            // padding-bottom: 7px;
        }
    }
}